@import '../../node_modules/normalize.css/normalize.css';
@import 'variables.scss';

body {
  padding: 0.5em;
}

h1 {
  background-color: $primary-bgcolor;
  color: $primary-color;
  font-style: normal;
}

h1{
    color: var(--mainColor);
    .special{
        color: var(--highlightColor);
        &::after {
             content: '!';
         }
    }
}

.special {
  display: flex;
  text-decoration: underline;
}

.caption {
  display: block;
  font-size: 0.7rem;
  color: #999;
}

.background {
  background-image: url('../img/mickey_small.gif');
  height: 20px;
  width: 20px;
  background-size: cover;
}

.backgroundHi {
  background-image: url('../img/mickey.png');
  background-size: cover;
  height: 100px;
  width: 100px;
}
